@use '../../styles/variables' as *;
@use '../../styles/breakpoints' as *;

.rect {
	stroke: #ccc;
	transition: stroke 0.2s ease;

	@include breakpoint-md {
		stroke-width: 0;
	}
}

:global(.dark) .rect {
	stroke: $off-white-dark;
}
